* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@700&family=Roboto&family=Ubuntu&display=swap");
body {
  overflow-x: hidden;
  font-family: "Noto Sans Mono", monospace;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header for each section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  width: 90%;
}

.title {
  display: flex;
  font-weight: bolder;
}

.arrow {
  color: #28eea7;
  font-size: 2rem;
}

.title-txt {
  color: #363738;
  font-size: 1.7rem;
  padding: 0.3rem;
}

.circles {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.black-circle,
.green-circle,
.grey-circle,
.white-circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.black-circle {
  background-color: #363738;
}

.white-circle {
  background-color: white;
}

.grey-circle {
  background-color: #dcdee1;
}

.green-circle {
  background-color: #28eea7;
}

/* Text colors */

.green-text {
  color: #28eea7;
}

.yellow-text {
  color: #ffc635;
}

.purple-text {
  color: #9864da;
}

.pink-text {
  color: #fb508e;
}

/* Background colors  */

.green-bg {
  background-color: #28eea7;
  transition: background-color 1s;
}

.yellow-bg {
  background-color: #ffc635;
  transition: background-color 1s;
}

.purple-bg {
  background-color: #9864da;
  transition: background-color 1s;
}

.pink-bg {
  background-color: #fb508e;
  transition: background-color 1s;
}
